<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">ZNNZ</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active">Home</li>
						<li><a href="/about">Me</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				</div>
			</div>
		
		</nav>
		<div class="container">
			{{content}}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="">email</a></li>
        		<li><a href="">github.com</a></li>
			</ul>
		</footer>
		{% include scripts.html %}
	</body>
</html>
